<!DOCTYPE html>
<html>
  <head>
    <title>欢迎来到A站</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= username %></h1>
    <p>Welcome to the test site</p>
    <h2>你现在有<%= money %></h2>
  </body>
</html>
